In [1]:
import pyspark
from pyspark.sql import SQLContext
sc = pyspark.SparkContext.getOrCreate()
sql = SQLContext(sc)
carDf = (sql.read
         .format("com.databricks.spark.csv")
         .option("header", "false")
         .load("Small_Car_Data.csv"))
print('The imported csv looks like \n')
carDf.show()

The imported csv looks like

+---+----+---+---+---+-------------+--------------------+---+---+-------+----+
|_c0| _c1|_c2|_c3|_c4|          _c5|                 _c6|_c7|_c8|    _c9|_c10|
+---+----+---+---+---+-------------+--------------------+---+---+-------+----+
|  1|  12|  8|307|130|chevrolet    |chevrolet chevell...| 70| 18|USA    |3504|
|  2|11.5|  8|350|165|buick        |buick skylark 320...| 70| 15|USA    |3693|
|  3|  11|  8|318|150|plymouth     |plymouth satellit...| 70| 18|USA    |3436|
|  4|  12|  8|304|150|amc          |amc rebel sst    ...| 70| 16|USA    |3433|
|  5|10.5|  8|302|140|ford         |ford torino      ...| 70| 17|USA    |3449|
|  6|  10|  8|429|198|ford         |ford galaxie 500 ...| 70| 15|USA    |4341|
|  7|   9|  8|454|220|chevrolet    |chevrolet impala ...| 70| 14|USA    |4354|
|  8| 8.5|  8|440|215|plymouth     |plymouth fury iii...| 70| 14|USA    |4312|
|  9|  10|  8|455|225|pontiac      |pontiac catalina ...| 70| 14|USA    |4425|
| 10| 8.5|  8|390|190|amc          |amc ambassador dp...| 70| 15|USA    |3850|
| 11|17.5|  4|133|115|citroen      |citroen ds-21 pal...| 70| 14|France |3090|
| 12|11.5|  8|350|165|chevrolet    |chevrolet chevell...| 70| 16|USA    |4142|
| 13|  11|  8|351|153|ford         |ford torino (sw) ...| 70| 17|USA    |4034|
| 14|10.5|  8|383|175|plymouth     |plymouth satellit...| 70| 19|USA    |4166|
| 15|  11|  8|360|175|amc          |amc rebel sst (sw...| 70| 20|USA    |3850|
| 16|  10|  8|383|170|dodge        |dodge challenger ...| 70| 15|USA    |3563|
| 17|   8|  8|340|160|plymouth     |plymouth 'cuda 34...| 70| 14|USA    |3609|
| 18|   8|  8|302|140|ford         |ford mustang boss...| 70| 16|USA    |3353|
| 19| 9.5|  8|400|150|chevrolet    |chevrolet monte c...| 70| 15|USA    |3761|
| 20|  10|  8|455|225|buick        |buick estate wago...| 70| 14|USA    |3086|
+---+----+---+---+---+-------------+--------------------+---+---+-------+----+
only showing top 20 rows

In [2]:
#carDf.cache()
carDf.printSchema()

carDf = carDf.drop('_c0')
print('Dataframe after dropping the serial number column \n')
carDf.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)

Dataframe after dropping the serial number column

+----+---+---+---+-------------+--------------------+---+---+-------+----+
| _c1|_c2|_c3|_c4|          _c5|                 _c6|_c7|_c8|    _c9|_c10|
+----+---+---+---+-------------+--------------------+---+---+-------+----+
|  12|  8|307|130|chevrolet    |chevrolet chevell...| 70| 18|USA    |3504|
|11.5|  8|350|165|buick        |buick skylark 320...| 70| 15|USA    |3693|
|  11|  8|318|150|plymouth     |plymouth satellit...| 70| 18|USA    |3436|
|  12|  8|304|150|amc          |amc rebel sst    ...| 70| 16|USA    |3433|
|10.5|  8|302|140|ford         |ford torino      ...| 70| 17|USA    |3449|
|  10|  8|429|198|ford         |ford galaxie 500 ...| 70| 15|USA    |4341|
|   9|  8|454|220|chevrolet    |chevrolet impala ...| 70| 14|USA    |4354|
| 8.5|  8|440|215|plymouth     |plymouth fury iii...| 70| 14|USA    |4312|
|  10|  8|455|225|pontiac      |pontiac catalina ...| 70| 14|USA    |4425|
| 8.5|  8|390|190|amc          |amc ambassador dp...| 70| 15|USA    |3850|
|17.5|  4|133|115|citroen      |citroen ds-21 pal...| 70| 14|France |3090|
|11.5|  8|350|165|chevrolet    |chevrolet chevell...| 70| 16|USA    |4142|
|  11|  8|351|153|ford         |ford torino (sw) ...| 70| 17|USA    |4034|
|10.5|  8|383|175|plymouth     |plymouth satellit...| 70| 19|USA    |4166|
|  11|  8|360|175|amc          |amc rebel sst (sw...| 70| 20|USA    |3850|
|  10|  8|383|170|dodge        |dodge challenger ...| 70| 15|USA    |3563|
|   8|  8|340|160|plymouth     |plymouth 'cuda 34...| 70| 14|USA    |3609|
|   8|  8|302|140|ford         |ford mustang boss...| 70| 16|USA    |3353|
| 9.5|  8|400|150|chevrolet    |chevrolet monte c...| 70| 15|USA    |3761|
|  10|  8|455|225|buick        |buick estate wago...| 70| 14|USA    |3086|
+----+---+---+---+-------------+--------------------+---+---+-------+----+
only showing top 20 rows

In [3]:
carDf = carDf.drop('_c6')
print('Dataframe after dropping the serial number column \n')
carDf.show()

Dataframe after dropping the serial number column

+----+---+---+---+-------------+---+---+-------+----+
| _c1|_c2|_c3|_c4|          _c5|_c7|_c8|    _c9|_c10|
+----+---+---+---+-------------+---+---+-------+----+
|  12|  8|307|130|chevrolet    | 70| 18|USA    |3504|
|11.5|  8|350|165|buick        | 70| 15|USA    |3693|
|  11|  8|318|150|plymouth     | 70| 18|USA    |3436|
|  12|  8|304|150|amc          | 70| 16|USA    |3433|
|10.5|  8|302|140|ford         | 70| 17|USA    |3449|
|  10|  8|429|198|ford         | 70| 15|USA    |4341|
|   9|  8|454|220|chevrolet    | 70| 14|USA    |4354|
| 8.5|  8|440|215|plymouth     | 70| 14|USA    |4312|
|  10|  8|455|225|pontiac      | 70| 14|USA    |4425|
| 8.5|  8|390|190|amc          | 70| 15|USA    |3850|
|17.5|  4|133|115|citroen      | 70| 14|France |3090|
|11.5|  8|350|165|chevrolet    | 70| 16|USA    |4142|
|  11|  8|351|153|ford         | 70| 17|USA    |4034|
|10.5|  8|383|175|plymouth     | 70| 19|USA    |4166|
|  11|  8|360|175|amc          | 70| 20|USA    |3850|
|  10|  8|383|170|dodge        | 70| 15|USA    |3563|
|   8|  8|340|160|plymouth     | 70| 14|USA    |3609|
|   8|  8|302|140|ford         | 70| 16|USA    |3353|
| 9.5|  8|400|150|chevrolet    | 70| 15|USA    |3761|
|  10|  8|455|225|buick        | 70| 14|USA    |3086|
+----+---+---+---+-------------+---+---+-------+----+
only showing top 20 rows

In [4]:

from pyspark.sql.types import IntegerType
carDf = carDf.withColumn("_c1", carDf["_c1"].cast(IntegerType()))
carDf = carDf.withColumn("_c2", carDf["_c2"].cast(IntegerType()))
carDf = carDf.withColumn("_c3", carDf["_c3"].cast(IntegerType()))
carDf = carDf.withColumn("_c4", carDf["_c4"].cast(IntegerType()))
carDf = carDf.withColumn("_c7", carDf["_c7"].cast(IntegerType()))
carDf = carDf.withColumn("_c8", carDf["_c8"].cast(IntegerType()))
carDf = carDf.withColumn("_c10", carDf["_c10"].cast(IntegerType()))
#carDf.cache()
carDf.printSchema()

from pyspark.sql.functions import isnan, when, count, col

carDf.select([count(when(isnan(c), c)).alias(c) for c in carDf.columns]).show()

root
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c7: integer (nullable = true)
 |-- _c8: integer (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: integer (nullable = true)

+---+---+---+---+---+---+---+---+----+
|_c1|_c2|_c3|_c4|_c5|_c7|_c8|_c9|_c10|
+---+---+---+---+---+---+---+---+----+
|  0|  0|  0|  0|  0|  0|  0|  0|   0|
+---+---+---+---+---+---+---+---+----+

In [5]:
from pyspark.ml import Pipeline 
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.sql.functions import col

#encoding for categorical variables 
category_variables = ['_c5', '_c9']
continuos_variables = ['_c2','_c3','_c7','_c10']

indexer = [ StringIndexer(inputCol=c, outputCol=c+"_indexed") for c in category_variables ]

encoder = [ OneHotEncoder(inputCol=i.getOutputCol(), outputCol=i.getOutputCol()+"_encoded")
           for i in indexer ]

assembler = VectorAssembler(inputCols=[e.getOutputCol() for e in encoder] +continuos_variables, 
                            outputCol="features")

pipeline = Pipeline(stages= indexer + encoder + [assembler])

model = pipeline.fit(carDf)

data = model.transform(carDf)
data.show(5)

+---+---+---+---+-------------+---+---+-------+----+-----------+-----------+-------------------+-------------------+--------------------+
|_c1|_c2|_c3|_c4|          _c5|_c7|_c8|    _c9|_c10|_c5_indexed|_c9_indexed|_c5_indexed_encoded|_c9_indexed_encoded|            features|
+---+---+---+---+-------------+---+---+-------+----+-----------+-----------+-------------------+-------------------+--------------------+
| 12|  8|307|130|chevrolet    | 70| 18|USA    |3504|        1.0|        0.0|     (27,[1],[1.0])|      (5,[0],[1.0])|(36,[1,27,32,33,3...|
| 11|  8|350|165|buick        | 70| 15|USA    |3693|       10.0|        0.0|    (27,[10],[1.0])|      (5,[0],[1.0])|(36,[10,27,32,33,...|
| 11|  8|318|150|plymouth     | 70| 18|USA    |3436|        4.0|        0.0|     (27,[4],[1.0])|      (5,[0],[1.0])|(36,[4,27,32,33,3...|
| 12|  8|304|150|amc          | 70| 16|USA    |3433|        2.0|        0.0|     (27,[2],[1.0])|      (5,[0],[1.0])|(36,[2,27,32,33,3...|
| 10|  8|302|140|ford         | 70| 17|USA    |3449|        0.0|        0.0|     (27,[0],[1.0])|      (5,[0],[1.0])|(36,[0,27,32,33,3...|
+---+---+---+---+-------------+---+---+-------+----+-----------+-----------+-------------------+-------------------+--------------------+
only showing top 5 rows

In [6]:
model = pipeline.fit(carDf)

data = model.transform(carDf)
data.show(5)

+---+---+---+---+-------------+---+---+-------+----+-----------+-----------+-------------------+-------------------+--------------------+
|_c1|_c2|_c3|_c4|          _c5|_c7|_c8|    _c9|_c10|_c5_indexed|_c9_indexed|_c5_indexed_encoded|_c9_indexed_encoded|            features|
+---+---+---+---+-------------+---+---+-------+----+-----------+-----------+-------------------+-------------------+--------------------+
| 12|  8|307|130|chevrolet    | 70| 18|USA    |3504|        1.0|        0.0|     (27,[1],[1.0])|      (5,[0],[1.0])|(36,[1,27,32,33,3...|
| 11|  8|350|165|buick        | 70| 15|USA    |3693|       10.0|        0.0|    (27,[10],[1.0])|      (5,[0],[1.0])|(36,[10,27,32,33,...|
| 11|  8|318|150|plymouth     | 70| 18|USA    |3436|        4.0|        0.0|     (27,[4],[1.0])|      (5,[0],[1.0])|(36,[4,27,32,33,3...|
| 12|  8|304|150|amc          | 70| 16|USA    |3433|        2.0|        0.0|     (27,[2],[1.0])|      (5,[0],[1.0])|(36,[2,27,32,33,3...|
| 10|  8|302|140|ford         | 70| 17|USA    |3449|        0.0|        0.0|     (27,[0],[1.0])|      (5,[0],[1.0])|(36,[0,27,32,33,3...|
+---+---+---+---+-------------+---+---+-------+----+-----------+-----------+-------------------+-------------------+--------------------+
only showing top 5 rows

In [9]:
final_dataset = data.select('features','_c4')

#splitting the dataset for train and test 

split = final_dataset.randomSplit([0.9,0.1])
train = split[0]
test = split[1]

#LR model for horsepower 

from pyspark.ml.regression import LinearRegression

model1 = LinearRegression(featuresCol= 'features', labelCol='_c4')
model1 = model1.fit(train)
print("R Squared value on training data is %g" % model1.summary.r2)

#prediction on test 
model1_pred = model1.transform(test)
from pyspark.ml.evaluation import RegressionEvaluator
model1_eval = RegressionEvaluator(predictionCol="prediction", labelCol="_c4", metricName="r2")
print("R Squared value on test data is %g" % model1_eval.evaluate(model1_pred))

R Squared value on training data is 0.914209
R Squared value on test data is 0.808493

In [15]:

final_dataset = data.select('features','_c8')

#splitting the dataset for train and test 

split = final_dataset.randomSplit([0.9,0.1])
train = split[0]
test = split[1]

#LR model for horsepower 

from pyspark.ml.regression import LinearRegression

model2 = LinearRegression(featuresCol= 'features', labelCol='_c8')
model2 = model2.fit(train)
print("R Squared value on training data is %g" % model2.summary.r2)

#prediction on test 
model2_pred = model2.transform(test)
from pyspark.ml.evaluation import RegressionEvaluator
model2_eval = RegressionEvaluator(predictionCol="prediction", labelCol="_c8", metricName="r2")
print("R Squared value on test data is %g" % model2_eval.evaluate(model2_pred))

R Squared value on training data is 0.913516
R Squared value on test data is 0.678084

In [16]:
final_dataset = data.select('features','_c4')

#splitting the dataset for train and test 

split = final_dataset.randomSplit([0.9,0.1])
train = split[0]
test = split[1]

#LR model for horsepower 

from pyspark.ml.regression import LinearRegression

model1 = LinearRegression(featuresCol= 'features', labelCol='_c4')
model1 = model1.fit(train)
print("R Squared value on training data is %g" % model1.summary.r2)
#prediction on test 
model1_pred = model1.transform(test)
from pyspark.ml.evaluation import RegressionEvaluator
model1_eval = RegressionEvaluator(predictionCol="prediction", labelCol="_c4", metricName="r2")
print("R Squared value on test data is %g" % model1_eval.evaluate(model1_pred))

R Squared value on training data is 0.918954
R Squared value on test data is 0.594373

In [17]:
#prediction on test 
model1_pred = model1.transform(test)
from pyspark.ml.evaluation import RegressionEvaluator
model1_eval = RegressionEvaluator(predictionCol="prediction", labelCol="_c4", metricName="r2")
print("R Squared value on test data is %g" % model1_eval.evaluate(model1_pred))

R Squared value on test data is 0.594373

In [18]:
final_dataset = data.select('features','_c8')

#splitting the dataset for train and test 

split = final_dataset.randomSplit([0.9,0.1])
train = split[0]
test = split[1]

#building the decision tree 
from pyspark.ml.regression import DecisionTreeRegressor
dt2 = DecisionTreeRegressor(featuresCol='features', labelCol='_c8')
dt2_model1 = dt2.fit(train)

#predictions
dt2_pred = dt2_model1.transform(test)
from pyspark.ml.evaluation import RegressionEvaluator
dt2_eval = RegressionEvaluator(predictionCol="prediction",labelCol="_c8",metricName="r2")
print("R Squared value on test data is %g" % dt2_eval.evaluate(dt2_pred))

R Squared value on test data is 0.872442